html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
}
A:LINK {text-decoration: none; color: #e4e3e3;}
A:VISITED {text-decoration: none; color: #e4e3e3;}
A:ACTIVE {text-decoration: none; color: #e4e3e3;}
A:HOVER {text-decoration: none; color: #e4e3e3;}

body{
    background-color: #e4e3e3;
    width: 100%;
    height: 100%
}
header{
    width: 100%;
    height: 180;
    background-color: #204051;
    display: flex;
    flex-direction: column;
    color:  #e4e3e3;
}
.WEB_TITLE{
    font-size: 100px;
    font-family: 'Fugaz One', cursive;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 135px;
    text-shadow: -3px 0 #1b262c, 0 3px #1b262c, 3px 0 #1b262c, 0 -3px #1b262c;
}
.sign{
    width: 400px;
    height: 54px;
    background-color: #84a8ac;
    font-size: 1.85rem;
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4e3e3;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#signin:hover{
    font-size: 1.9rem;
    transition: 0.4s;
}
#signup:hover{
    font-size: 1.9rem;
    transition: 0.4s;
}
nav{
    max-width: ; /*나중에*/
    display: flex;
    flex-direction: row;
}
#signup{
    margin-left: 15px;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.content{
    width: 65%;
    height: 800px;
}
aside, aside2{
    width: 17.5%;
}
.menu
{
    width: 100%;
    height: 54px;
    background-color: #84a8ac;
    display: flex;
    align-items: center;
}
#writing{
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 14px;
    color: #e4e3e3;
    font-size: 1.85rem;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#writing:hover{
    font-size: 1.9rem;
    transition: 0.4s;
}
